@model IEnumerable<BusinessLayerProject.IssueDetail>

@Html.Partial("_PageCheck")

@{
    ViewBag.Title = "Details";
    string str = "";
    string newStr = "";
}


<style type="text/css">
    /*
     th 
     {
         background-color:navy;
         color:White;
         font-weight:bold;
         border: 1px solid beige;
         font-size:12px;
         padding:5px;
    
     }*/
    /*
    .NormalRow th, td {
        border-bottom: 1px solid lightblue; 
        background-color: beige; 
        
        padding: 5px;
        border-left: 1px solid lightblue;
        border-right: 1px solid lightblue;
    }*/

</style>

<h2>Issue Summary</h2>
<table style="width: 170px;" class="tab-header">
    <tr><th>&nbsp;Ticket#</th><th align="left">@Request.QueryString["MantisID"]</th></tr>    
</table>
<table style="width: 100%;" class="table2">    
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.SLNO)
        </th>
        <!--<th>
            @Html.DisplayNameFor(model => model.MantisID)
        </th>-->
        <th>
            @Html.DisplayNameFor(model => model.Summary)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AssingedBy)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ReportDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AssingedToList)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model)
{
    <tr>
        <td style="font-weight:bold; text-align:center">
            @Html.DisplayFor(modelItem => item.SLNO)
        </td>
        
        <td nowrap="nowrap">
           
            @{
                str = item.Summary;
                newStr = str.Substring(0, Math.Min(20, str.Length));
            }
            @newStr ..
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AssingedBy)
        </td>
        <td nowrap="nowrap">
            @Html.DisplayFor(modelItem => item.ReportDate)
        </td>
        <td>
            
            @{
                str = item.Description;
                newStr = str.Substring(0, Math.Min(80, str.Length));
            }
            @newStr ..

        </td>

        <td>
            @Html.DisplayFor(modelItem => item.AssingedToList)
        </td>
        <td nowrap>            
            @Html.ActionLink("Full View", "ViewStep", "Ticket", new { MantisID = item.MantisID, SLNo = item.SLNO }, new { @class = "btn btn-primary" })       
        </td>
    </tr>
}

</table>
<br />
 @Html.ActionLink("Back to open Ticket(s)", "Index", "Ticket", new { }, new { @class = "btn btn-info" }) &nbsp;&nbsp; @Html.ActionLink("Send Feedback", "Create", "Ticket", new { MantisID = @Request.QueryString["MantisID"] },new {@class="btn btn-primary"})
